<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="vendor1/bootstrap.min.css" rel="stylesheet">
    <link href="css/business-frontpage.css" rel="stylesheet">
    <style>
        #nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
            position: -webkit-sticky; /* Safari */
            position: sticky;
            top: 0;
        }

        #nav li {
            float: left;
        }

        #nav li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        #nav li a:hover {
            background-color: #111;
        }
        .image {
            padding-top: 56px;
        }
    </style>
    <title>homepage</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="padding-bottom: 0px;margin-bottom: 0px; padding-top: 0px;margin-top: 0px;">
    <div class="container">
        <span th:if="${isLoggedIn}=='yes'">
            <a class="navbar-brand" href="/welcome">  Hi, <span th:text="${user.getFirstName()}"></span>! </a></span>
            <span th:if="${isLoggedIn}=='no'">
                <ul class="navbar-nav ml-auto">
          <li>  <a class="nav-link" href="/login">Login</a></li>
            <li><a class="nav-link" href="/register">Register</a></li>
                    </ul>
            </span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/faqs">FAQs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/categories">Product Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="bestOffers">Best Offers</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<header class="image">
                <img th:src="@{images/magnet.png}" width="100%" height="300" />
</header>
<div class="container">

    <div class="row">
        <div class="col-md-8 mb-5">
            <br>
            <br>
            <h2>A bit about us</h2>
            <hr>
            <p><b>Magnet Mens wear</b> is a showroom for Men located in Ahmedabad, Gujarat. </p>
            <p>All kinds of Clothing products from all brands for men are available here.
                We have great collection from Bombay, Delhi, etc.</p>
        </div>
        <div class="col-md-4 mb-5">
            <br>
            <br>
            <h2>    Contact Us</h2>
            <hr>
            <address>
                <strong>Magnet Mens Wear</strong>
                <br>G-43 Shukan Mall
                <br>Shahibaug, Ahmedabad 380004
                <br>
            </address>
            <address>
                <abbr title="Phone">P:</abbr>
                    +91 9824768998
                <br>
                <abbr title="Email">E:</abbr>
                <a href="mailto:#">garmentshop2020@gmail.com</a>
            </address>
        </div>
    </div>


<h1>Terms and Conditions for Return/Exchange Policies:</h1>
<ul>
    <li>You can only return or exchange items within a week after you have purchased</li>
    <li>For exchange or return of items, you can visit the store between 10 AM to 12 PM from monday to friday</li>
</ul>
</div>
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.js/bootstrap.bundle.min.js"></script>

</body>
</html>